@import url('https://fonts.googleapis.com/css2?family=Bitcount+Single+Ink:wght@100..900&family=Codystar:wght@300;400&family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Imperial+Script&family=Inconsolata:wght@200..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Pinyon+Script&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Sixtyfour&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

:root {
    --color:#ff0000;
    --bg-color:#f6cfdc;

    --body-copy: 1rem;
    --heading-copy: calc(var(--body-copy)*3.8);

    --gutter: 2rem;
    --vertical: 8rem;
    --spacing: .5rem;

    --script: 'Pinyon Script';
}

body {
    background-color: var(--bg-color);
    margin-inline: var(--gutter);
    font-size: 110%;
}

@media (width>600px) {

    body {
    margin-inline: var(--gutter);
    }
}

main{
    text-align: right;
}


header {
    padding-block: calc(var(--gutter)*4);
}


h1 {
    font-family: var(--script);
    color: var(--color);
    font-size: var(--heading-copy);
    padding-block: var(--spacing);
    text-align: center;
}


@media (width>600px) {

    h1 {
        font-size: calc(var(--heading-copy)*1.5);
    }
}

@media (width>800px) {

    h1 {
        font-size: calc(var(--heading-copy)*2);
    }
}

@media (width>1100px) {

    h1 {
        font-size: calc(var(--heading-copy)*2.5);
    }
}


.header-left {
    font-size: calc(var(--body-copy)*1.2);
}

.header-right {
    text-align: right;
    font-size: calc(var(--body-copy)*1.2);
}


@media (width>850px) {

    .header-left {
    padding-left: calc(var(--gutter)*3);
}
    .header-right {
    padding-right: calc(var(--gutter)*3);
}
}

@media (width>1100px) {

    .header-left {
    padding-left: calc(var(--gutter)*6);
}
    .header-right {
    padding-right: calc(var(--gutter)*6);
}
}



p {
    color: var(--color);
    padding-top: var(--spacing);
}

nav {
    display: flex;
    justify-content: center;
    gap: 2rem;
    list-style: none;
    text-decoration: underline var(--color);
}


/* grid layout for blocks */

#channel-blocks {
  display: grid;
  gap: var(--gutter);
}

@media (width>600px) {

    #channel-blocks {
    grid-template-columns: repeat(2, 1fr);
    gap: calc(var(--gutter)*1.5);
    }
}

@media (width>900px) {

    #channel-blocks {
    grid-template-columns: repeat(3, 1fr);
    }
}

@media (width>1200px) {

    #channel-blocks {
    grid-template-columns: repeat(4, 1fr);
    }
}


/* make each blocks to fit in a fixed squared space */
.block {
  aspect-ratio: 1 / 1;
  overflow: hidden;
  border: .2rem solid var(--color);
  padding: 1rem;
}

.block img,
.block video,
.block iframe{
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: top;
}

audio {
	block-size: revert;
	inline-size: 100%;
}

/* make text scrollable */
.text-block {
  aspect-ratio: 1 / 1;
  overflow-y: auto;
  text-align: left;
}

.fig-title {
    text-align: center;
}
/* img {
    padding-top: var(--gutter);
}

@media (width>600px) {

    div {
    display: flex;
    flex-direction: ;
    align-items: center;
    }

    img {
    max-width: 100vh;
    }
} */

a {
    text-decoration: underline;
}

.footer {
    display: flex;
    justify-content: center;
}